img {
    width: 100%;
}
.header {
    background-color: black;
    display: flex;
    padding: 5px 100px;
}
.header a {
    text-decoration: none;
    color: beige;
    padding: 5px 0px;
}
.links {
    width: 50%;
}
.contact {
width: 50%;
}
.contact  p {
    color: beige;
    margin: 0px;
    text-align: right;
}
